<div class="issue-wrapper">
    <h3>Issues</h3>
    <ul id="issues">
        {{#each issues}}
            <li id="{{id}}">
                <div class="issue">
                    <h4><a href="{{url}}">#{{number}} - {{title}}</a></h4>
                    <img src="{{user.avatar}}">
                    <p class="username">{{user.username}}
                    <p class="comments">Comments: {{comments}}
                    <p class="date">{{createdAt}}
                    <p class="date">{{updatedAt}}
                </div>
            </li>
        {{/each}}
    </ul>
</div>
<div class="notification-wrapper">
    <h3>Notifications</h3>
    <ul id="notifications">

    </ul>
</div>

<script src='/socket.io/socket.io.js'></script>
<script>
    var socket = io()

    socket.on("notification", function(data) {
        let ul = document.getElementById("notifications")
        let notification = "<li class=\"notification\">"

        if (data.action === "closed") {
            removeIssueById(data.id)
            notification += "<h4>#" + data.number + "</h4><p>Closed Issue"
        } else if (data.action === "reopened" || data.action ==="opened") {
            addIssue(data)
            notification += "<h4>#" + data.number + "</h4><p>Opened Issue"
        } else if (data.action === "created") {
            removeIssueById(data.id)
            addIssue(data)
            notification += "<h4>#" + data.number + "</h4><p>New Comment"
        } else if (data.action === "deleted") {
            removeIssueById(data.id)
            addIssue(data)
            notification += "<h4>#" + data.number + "</h4><p>Removed Comment"
        } else if (data.action === "edited") {
            removeIssueById(data.id)
            addIssue(data)
            notification += "<h4>#" + data.number + "</h4><p>Updated Comment"
        }

        ul.innerHTML = notification + "</li>" + ul.innerHTML
    })

    function removeIssueById(id) {
        let element = document.getElementById(id)
        element.parentNode.removeChild(element)
    }

    function addIssue(data) {
        let ul = document.getElementById("issues")
        let html = "<li id=\"" + data.id + "\">"
        html += "<div class=\"issue\">"
        html += "<h4><a href=\"" + data.url + "\">Issue #" + data.number + " - " + data.title + "</a></h4>"
        html += "<img src=\"" + data.user.avatar + "\">"
        html += "<p class=\"username\">" + data.user.username
        html += "<p class=\"comments\">Comments: " + data.comments
        html += "<p class=\"date\">" + data.createdAt
        html += "<p class=\"date\">" + data.updatedAt
        html += "</li>"

        ul.innerHTML = html + ul.innerHTML
    }
</script>
